Source: papers
Section: web
Priority: optional
Maintainer: Antonio S. de A. Terceiro <terceiro@softwarelivre.org>
Build-Depends: cdbs, debhelper (>= 4.1)
Standards-Version: 3.7.2

Package: papers
Architecture: all
Depends: smarty, libphp-adodb, php4 | php5, php4-mysql | php5-mysql
Description: conference system for lecture proposals receiving, judgement and publishing
 papers is a conference system, featuring:
   * submissions of lecture proposals
   * judgement of the lecture proposals
   * addition of invited lectures
   * multiple tracks
   * publishing of conference program
 .
 Although it may be useful to several conferences, papers currently has some
 parts in portuguese. If would like to use papers, please contact this package
 maintainer so we can join efforts in improving papers.
