To properly configure a papers instance, you need to copy the
conf/conf.php.dist file and fill in your event's settings. The name of the
configuration file (which can be be in the conf/ directory or in /etc/papers/)
depends on the URL you're going to run papers to the public:

Application URL                           | Configuration filename
------------------------------------------+-------------------------------
http://www.blablabla.org/papers           | www.blablabla.org.papers
http://blabla.org/~joerandomhacker/papers | blablabla.org.joerandomhacker.papers


General rule is: hostname (without port number, if it's there) + path to the
application's root, replacing slashes by dots. After that, anything that's not
[a-zA-Z0-9.] is removed. If you have any doubt, see
/usr/share/papers/admin/include/config.php
