#!/usr/bin/make -f

# =========================================================================
# debian/rules for papers
# Common Debian Build System: (C) 2002 Colin Walters
# =========================================================================

# CDBS class
include /usr/share/cdbs/1/class/makefile.mk
include /usr/share/cdbs/1/rules/debhelper.mk

# CDBS options
DEB_MAKE_BUILD_TARGET := build
DEB_COMPRESS_EXCLUDE := .sql .mysql
