
text, flowPara {
  font-family: Liberation Sans, Arial, sans-serif;
  font-size: <?= $fs ?>px;
  text-anchor: middle;
  text-align: center;
  text-rendering: geometricPrecision;
  image-rendering: optimizeQuality;
}

.dia {
  text-anchor: start;
  text-align: left;
  font-weight: bold;
  fill: #000;
  font-size: <?= $fs * 3 ?>px;
  letter-spacing: 5px;
  stroke-width: 2px;
  stroke: #000;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.hora text,
.sala text {
  font-weight: bold;
  fill: #FFF;
}
.hora rect,
.sala rect {
  fill: #000;
  opacity: 0.5;
}

.palestra rect {
  fill: url(#grad-palestra);
}
.palestra rect.vazio {
  fill: #000;
  opacity: 0.05;
}

.tema {
  text-anchor: start;
  text-align: left;
  font-size: <?= $fs * 0.9 ?>px;
}

.ptit {
  font-weight: bold;
  font-size: <?= $fs * 0.95 ?>px;
}

.pess {
  font-size: <?= $fs * 0.9 ?>px;
}

.desgerencd, .hardwaresi, .gerenciame, .negciosimp {
  font-size: <?= $fs * 0.82 ?>px;
}

.deskitsgrf, .desdemaisl, .ecossistem, .jogosmulti, .desferrame {
  font-size: <?=  $fs * 0.85 ?>px;
}

.negciosimp, .hardwaresi, .ecossistem,
.desferrame, .deskitsgrf, .desdemaisl, .desgerencd {
  letter-spacing: -<?= $fs * 0.05 ?>px;
}
